<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="This is where your description goes" />
    <meta name="keywords" content="one, two, three" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hair Salon</title>

    <!-- external CSS link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <section class="navbar">
          <section class="mainlogo">
            <img class="toplogo" src="/default.png" alt="MAIN LOGO" />
          </section>
          <section class="navlist">
            <ul>
              <li><a href="#"> Home</a></li>
              <li><a href="#"> About</a></li>
              <li><a href="#"> Services</a></li>
              <li><a href="#"> Gallary</a></li>
              <li><a href="#"> Contact</a></li>
              <li> <!--
                <form><input type="text" /></form>
              </li>
              <button type="text">CART</button>
            </ul> -->
          </section>
          <section class="book">
            <button id="topRightButton" type="button">BOOK ONLINE <a class="booknow" href="#"> </a></button>
          </section>
        </section>
      </nav>
    </header>
    <section class="mainone">
      <section class="onetop">
        <h1>
          BLONDE <br />
          & HIGHLIGHT
        </h1>
        <p>DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN TYLE</p>
        <!-- <button class="buttonone" type="button">- OUR SERVICES</button> -->
      </section>
      <section class="mainmid">
        <section class="onebottom">
          <h5>YOUR FIRST VISIT?</h5>
          <h3>
            -20% FOR THE FIRST <br />
            CLASSIC HAIR COLORING
          </h3>
          <button class="buttontwo" type="button">- BOOK ONLINE</button>
        </section>
      </section>
      <section class="mainbottom">
        <section class="bottomsection">
          <img src="https://images.unsplash.com/photo-1549236177-77e8271c34b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGFpcnN0eWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="LOGO" />
          <h4>EXPERT BEAUTICIANS</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            inventore quo vero libero pariatur amet ipsa ipsum voluptatum soluta
            est velit! Nemo aperiam incidunt ea?
          </p>
        </section>
        <section class="bottomsection">
          <img src="https://images.unsplash.com/photo-1530653535919-df7cc2bee192?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTl8fGhhaXJzdHlsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="LOGO" />
          <h4>EXPERT BEAUTICIANS</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            inventore quo vero libero pariatur amet ipsa ipsum voluptatum soluta
            est velit! Nemo aperiam incidunt ea?
          </p>
        </section>
        <section class="bottomsection">
          
          <img src="https://images.unsplash.com/photo-1612690207805-a3c172ea6e8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGFpcnN0eWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="LOGO" />
          <h4>EXPERT BEAUTICIANS</h4>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            inventore quo vero libero pariatur amet ipsa ipsum voluptatum soluta
            est velit! Nemo aperiam incidunt ea?
          </p>
        </section>
      </section>
    </section>

    <section class="pagetwo">
      <section class="ptwoleft">
        <h3>
          MAKE YOUR <br />
          OWN MOMENTUM
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          beatae dolor non quaerat voluptas enim! Unde ipsa, quasi blanditiis,
          architecto veritatis obcaecati necessitatibus eligendi laborum ab
          reprehenderit quas laudantium perspiciatis ex est eveniet optio modi
          rerum.
        </p>
        <button class="buttonthree" type="button">- READ MORE</button>
      </section>
      <section class="ptworight">
        <video class="video" src="" width="700vh" height="380vh" controls autoplay loop>
      </section>
    </section>
<!-- 
    <section class="hairstyle">
      <img class="firstpic" src="/template/hairperson.png" alt="" />
      <img src="/template/hairperson.png" alt="" />
      <img src="/template/hairperson.png" alt="" />
    </section> -->
    <!-- <section class="hairdes">
      <section class="hairperson">
        <h5>ALITA WILLIAMS</h5>
        <span> - COLOURIST </span>
      </section>
    </section> -->

    <section class="mainfour">
      <section class="mainfourone">
      <section class="shortbox">
<img class="smallimg" src="https://images.unsplash.com/photo-1529945952580-4226d32b472a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGhhaXJzdHlsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="">
      </section>
      <section class="tallbox">
<img class="tallimg" src="https://images.unsplash.com/photo-1583843364289-0d1b2978874c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGFpcnN0eWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="">
      </section>
      </section>
      <section class="mainfourone">
      <section class="tallbox">
<img class="midTopImg"class="tallimg" src="https://images.unsplash.com/photo-1492106087820-71f1a00d2b11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aGFpcnN0eWxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="">
      </section>
      <section class="shortbox">
<img class='smallimg' src="https://images.unsplash.com/photo-1541260667725-399ffbbf327a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGhhaXJzdHlsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="">
      </section>
    </section>
    <section class="mainfourone">
      <section class="shortbox">
<img class="smallimg" src="https://images.unsplash.com/photo-1613876214872-a73df2a1b8bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGhhaXJzdHlsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="">
      </section>
      <section class="tallbox">
<img id ="rightBottom" class="rightBottom" class="tallimg" src="https://images.unsplash.com/photo-1548207800-8c16d068bf17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhhaXJzdHlsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="">        
      </section>
    </section>
  </section>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
